[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask_wtf = "*"
pony = "*"
pymysql = "*"
flask-redis = "*"
redis = '*'
requests = "*"
favicon = "*"
gunicorn = "*"
gevent = "*"

[requires]
python_version = "3.7"
