[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask_wtf = "*"
pony = "*"
pymysql = "*"
flask-redis = "*"
redis = '*'
requests = "*"
gunicorn = "*"
gevent = "*"
lxml = "*"
BeautifulSoup4 = "*"
feedparser = {editable = true,git = "https://github.com/kurtmckee/feedparser.git",ref = "6.0.0b1"}
aiohttp = "*"
aiomysql = "*"
babel = "*"
flask-babel = "*"
aiofiles = "*"

[requires]
python_version = "3.7"
