.navbar-brand {
    padding: 0;
}

.dropdown-lang {
    margin-right: 0.5rem;
}

.dropdown-menu-lang, .dropdown-menu-user {
    min-width: 0 !important;
    text-align: center;
}

.dropdown-menu-user {
    border-radius: 5px;
}

.dropdown-toggle-lang::after, .dropdown-toggle-user::after {
    display: none !important;
}

main {
    /*margin-top: 80px;*/
}

.site-item {
    margin: 5px 0;
    font-size: large;
    font-weight: 400;
}

.site-header {
    margin-top: 25px;
    margin-bottom: -25px;
}

.site-header-name {
    /*margin-bottom: -8px;*/
}

.site-header-add {
    padding-top: 10px;
    text-align: right;
}

.site-header-add svg {
    fill: whitesmoke;
}

.site-header-add:hover svg {
    fill: lightsteelblue;
}

.site-header-add:active svg {
    fill: lightsteelblue;
}

.sites {

    color: #69c0ff;
    font-weight: 400;
    font-size: 2.25rem;
}

.site-hr {
    margin-top: 15px !important;
    margin-bottom: 5px !important;
    display: block;
    height: 1px;
    color: #d6e4ff;
    background-color: #d6e4ff;
    border: 0;
}


.site-item a {
    color: #181818;
}

.site-item:hover a {
    color: #1671bd;
}

.site-name {
    padding-left: 25px;
    margin-top: 15px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position-y: center;
}

.rss-item a {
    color: #181818;
}

.nav-sidebar {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(240, 252, 255, 0.51);
}

.nav-sidebar a {
    color: #181818;
    font-size: 1.3rem;
}

.nav-sidebar li.active a {
    font-weight: 500;
    color: #007bff;
}

@media (min-width: 1200px) {
    .nav-sidebar {
        margin: 0 50px;
    }
}

@media (max-width: 720px) {
    .site-item {
        padding: 0 3px;
    }
     .nav-sidebar ul {
         display: inline-block;
        margin: 0 50px;
    }
}

.bd-content {
    margin-top: 30px;
}

.nav-ul {
    list-style: none;
    font-size: larger;
}

.nav-ul li {
    margin: 10px auto;
}

.action-btn {
    padding: 0;
    color: #181818;
}

.button-group {
    margin-top: 20px;
    text-align: center;
}

#btn-add-cate, .add-new-website {
    margin-bottom: 10px;
}

.table td, .table th {
    padding: .5rem;
    vertical-align: middle;
}

.table .new-cel {
    padding: 0.2rem;
}

.save-new-btn, .update-btn, .delete-btn {
    cursor: pointer;
}

.site-category-name {
    font-size: larger;
    font-weight: 500;
}

.name-cel {
    width: 150px;
}

.url-cel {
    width: 250px;
}

.site-url a, .rss-url a {
    color: #181818;
}

.order-cel {
    width: 100px;
}

.context-menu {
    width: 200px;
}

.dropdown-add-website {
    min-width: 0;
}

.add-website-input {
    margin: 5px 10px;
    width: 90%;
}