body {
    padding: 0;
    margin: 0;
}

footer {
    margin-bottom: 0;
    clear: both;
    background-color: #fafbfc;
}

.footer-container {
    padding: 24px 24px;
}

a {
    text-decoration: none;
}

.myweb-logo {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 0.3rem;
    white-space: nowrap;
}

.myweb-name {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: -1rem;
    color: black;
    vertical-align: super;
}

.header {
    padding: 6px 24px;
    display: block;
    box-sizing: border-box;
    height: 3.5rem;
    border-bottom: 1px solid lightgray;
}

.header-logo {
    float: left;
    box-sizing: border-box;

}

.header-user {
    text-align: right;
    float: right;
}

.header-user .avatar {
    padding-top: 6px;
}

.header-login {
    text-align: right;
    float: right;
    border: 1px solid lightgray;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.header-login .header-login-word {
    display: inline-block;
}

.header-login svg {
    margin-bottom: -4px;
}

.header-lang {
    float: right;
    padding: 9px;
    cursor: pointer;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.header-user-link {
    color: #007bff !important;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-sizing: border-box;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    margin-left: -30px;
    margin-top: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
}

.dropdown-content a {
    color: black;
}

.dropdown-content .dropdown-item {
    padding: 6px 15px;
    min-width: 40px;
}

.dropdown-item:hover, .dropdown-item:active {
    background-color: #169ad6;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.top-arrow {
    top: calc(-.5rem - 1px);
    position: absolute;
    display: block;
    width: 1rem;
    height: .5rem;
    margin: 0 .3rem;
    left: 28px;
}

.top-arrow::before {
    top: 0;
    border-width: 0 .5rem .5rem .5rem;
    border-bottom-color: rgba(0, 0, 0, .25);
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    display: block;
    content: "";
    border-style: solid;
}

.top-arrow::after {
    top: 1px;
    border-width: 0 .5rem .5rem .5rem;
    border-bottom-color: #fff;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    display: block;
    content: "";
    border-style: solid;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    max-width: 300px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem 0.5rem 1rem;
    border-bottom: 1px solid #dee2e6;
}

.modal-header .modal-title {
    margin: 0 0 -10px 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 400;
}

.modal-header .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.modal-body {
    text-align: center;
}

.modal-body .modal-icon {
    padding: 20px 50px;
    display: inline-flex;
}

.modal-content .modal-site {
    padding: 10px;
    box-sizing: border-box;
}
