@media (max-width: 600px) {
    main {
        width: calc(100% - 20px);
        margin: 20px 10px;
    }

    .site-item {
        flex: 0 0 20%;
        max-width: 20%;
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media (min-width: 600px) {
    main {
        max-width: 1140px;
        margin: 100px auto;
    }

    .site-item {
        flex: 0 0 11.3%;
        max-width: 11.3%;
        padding-right: 5px;
        padding-left: 5px;
    }
}

.site-category {
    margin-top: 25px;
    margin-bottom: -8px;
    color: #69c0ff;
    font-weight: 400;
    font-size: 2.25rem;
}

.site-hr {
    margin-top: 15px !important;
    margin-bottom: 5px !important;
    display: block;
    height: 1px;
    color: #d6e4ff;
    background-color: #d6e4ff;
    border: 0;
}

.site-list {
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, .15) !important;
    border-radius: .25rem !important;
    background-color: #fff !important;
    box-sizing: border-box;
    padding: 1rem !important;
    display: flex;
    flex-wrap: wrap;
}

.site-name {
    padding-left: 20px;
    margin-bottom: 0;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position-y: center;
}

.site-item {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    display: inline-block;
}

main A {
    color: black;
    outline: none;
    text-align: center;
}

.rss {
    margin: 30px;
}

.rss-site-name {
    display: inline-block;
    color: #212529;
}
