.main-container {
    min-height: calc(100vh - 116px);
}

.main-container a {
    color: inherit;
}

.content-body {
    max-width: 1020px;
    margin: auto;
}

@media (max-width: 600px) {
    nav {
        background-color: #f8f9fa;
        width: 100%;
    }

    nav ul {
        margin: 5px auto;
    }

    nav li {
        display: inline;
    }

    .sidebar {
        padding: 10px;
    }

    main {
        padding: 10px 20px;
        margin: 0;
    }

    main .form-container {
        padding: 10px 20px;
    }

    main .form-row {
        display: flex;
        font-size: large;
        padding: 10px;
    }

    main .btn-one {
        text-align: center;
    }

    .sidebar ul {
        padding: 0 1rem;
        list-style: none;
        font-size: larger;
    }

    main .btn-group {
        margin-left: 50px;
        margin-bottom: 50px;
    }

    .table .new-cel-input {
        width: 100px;
        padding: 3px 5px;
    }

    .large-order-cel {
        width: 50px !important;
    }

    #main-website {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .site-num {
        display: none;
    }

    #main-website .site-url {
        overflow: hidden;
    }
    #main-rss{
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 601px) {
    nav {
        width: 20%;
        min-width: 150px;
        background-color: #f8f9fa;
        float: left;
    }

    .sidebar {
        padding: 30px 20px;
    }

    main {
        width: 80%;
        float: right;
    }

    main .form-container {
        margin: 3rem auto;
        display: block;
    }

    main {
        position: relative;
        display: flex;
    }

    main .btn-one {
        /*margin-left: 200px !important;*/
    }

    main .form-row {
        display: flex;
        flex-wrap: wrap;
        font-size: large;
        padding: 10px;
    }

    #main-category .table {
        width: 500px;
    }

    .table .new-cel-input {
        padding: 6px 8px;
        width: 80px;
    }

    .large-order-cel {
        width: 80px !important;
    }

    #main-website {
        padding: 0 50px;
    }

    #main-rss .table {
        width: 600px;
        /*margin: 0 30px;*/
    }
}

.sidebar ul {
    padding: 0;
    list-style: none;
    font-size: larger;
}

.sidebar li {
    margin: 15px;
    max-width: 100px;
}

.sidebar .active, li:hover {
    color: #007bff !important;
}


main .form-row label {
    min-width: 100px;
    line-height: 1.5;
}

.main-input-display {
    border: none;
    font-size: large;
}

main .btn {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 6px 9px;
    margin: 10px 20px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

main .btn-success {
    color: #fff;
    background-color: #007bff;
}

main .btn-success:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

main .btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

main .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
    border: 1px solid #dee2e6;
}


main .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6 !important;
}

main th {
    text-align: inherit;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border: 1px solid #dee2e6;
}

.table .new-cel {
    padding: 0 !important;
    vertical-align: middle !important;
}

.table .new-cel-input {
    height: 22px;
    border: none;
    font-size: large;
}

.table .save-new-btn {
    border: 1px solid lightskyblue;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}

.form-container .small {
    color: #6c757d;
    font-size: 80%;
}

.table .cate-num {
    width: 30px;
}

.table .cate-action {
    width: 100px;
}

.table .action-cate {
    padding: 2px 5px;
    border: none;
    background: white;
    font-size: 80%;
    cursor: pointer;
}


.site-category-name {
    font-size: 20px;
    margin: 0.3rem 1rem;
}

.site-name {
    width: 100px;
}

.site-url {
    width: 400px;
}

.site-order {
    width: 50px;
}

.site-action {
    width: 50px;
}

.new-site-td {
    padding: 5px;
}

.name-cel {
    width: 100px;
}

.url-cel {
    width: 300px !important;
}

.large-url-cel {
    width: 350px !important;
}

.order-cel {
    width: 50px !important;
    padding: 8px !important;
}


.new-site-name-input {
    width: 100px;
}

.url-input-dom {
    width: 350px;
}

#main-website .order-input-dom {
    width: 50px;
}

#main-website .site-category-header {
    display: inline;
}

#main-website .add-new-website {
    float: right;
    padding: 3px 5px;
    border-radius: 3px;
    border: 1px solid lightskyblue;
    background: #CCEBFA;
    cursor: pointer;
    margin-bottom: 3px;
    margin-right: 1rem;
    font-size: 1rem;
}

#main-website .new-website-input-dom {
    font-size: 16px;
    padding: 3px 5px;
    border: none;
}

#main-website .delete-site {
    cursor: pointer;
}
