{% extends "base.html" %}

{% block content %}
    <main>
        <div role="main">
            <div class="container">
                <div class="p-3 text-center">
                    <h1 class="display-3 page-display-title" style="color: #69c0ff">Simple URL Navigatio</h1>
                </div>
                <div class="row p-3 site-list">
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.google.co.jp/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/u3xxg7fesejpfaia.png') }})">Google</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.yahoo.co.jp/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/zbug9p6vetefr316.png') }})">Yahoo</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.msn.com/ja-jp" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/hj4xzjhjoyslf8ug.png') }})">MSN</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.goo.ne.jp" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/0y9vprqotjc789sd.png') }})">goo</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.wikipedia.org/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/z090dtzdsuc7cg39.png') }})">Wikipedia</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="http://www.2ch.net" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/.png') }})">2ch.net</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://mail.google.com/mail/u/0/?hl=ja/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/f99qjei2bs0zq0hm.png') }})">Gmail</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="http://mail.yahoo.co.jp" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/r0gaut9u50navci9.png') }})">Yahoo Mail</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://outlook.live.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/9uah8dermz57fuoa.png') }})">Outlook</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://twitter.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/y93kbj25n6a0tlew.png') }})">Twitter</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.facebook.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/l58vi9tu9717hro4.png') }})">Facebook</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.instagram.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/5vmmzgx57ov97uc9.png') }})">Instagram</a>
                    </div>
                </div>
                <div>
                    <div class="row justify-content-between site-header">
                        <div class="col-8 ">
                            <h5 class="sites display-5 site-header-name ">购物</h5>
                        </div>
                    </div>
                    <hr class="site-hr">
                    <div class="row p-3 site-list">
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://kakaku.com" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/idyvcf34gt2to9ik.png') }})">価格.com</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.amazon.co.jp" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/2rtv2h42n638j6es.png') }})">Amazon</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.rakuten.co.jp" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/560fkkutv8zqbw7s.png') }})">楽天市場</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://shopping.yahoo.co.jp" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/.png') }});font-size: 90%">
                                Yahoo!<span style="font-size: 80%">ショッピング</span></a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.qoo10.jp" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/.png') }})">Qoo10</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://7net.omni7.jp" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/.png') }})">7 net</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.nissen.co.jp" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/.png') }})">nissen</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.yamada-denki.jp" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/.png') }})">ヤマダ電機</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.sofmap.com" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/.png') }})">Sofmap</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.apple.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/ocr6kqcjvtfmoluh.png') }})">Apple</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.sony.jp" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/.png') }})">Sony</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://panasonic.jp" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/.png') }})">Panasonic</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.lenovo.com/jp/ja/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/.png') }})">Lenovo</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.y-aoyama.jp" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/.png') }})">洋服の青山</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://isetan.mistore.jp/onlinestore/index.html" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/.png') }})"></a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="http://www.amiami.jp" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/.png') }})">あみあみ</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.uniqlo.com/jp/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/.png') }})">UNIQLO</a>
                        </div>

                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.kinokuniya.co.jp" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/.png') }})">紀伊國屋書店</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="feed" class="rss">

        </div>
    </main>
{% endblock %}

