{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/index.css') }}">
{% endblock %}

{% block content %}
    <main>
        <div role="main">
            {% for c in categories | sort(attribute="order") %}
                {% set ss = sites.get(c.id) %}
                {% if ss %}
                    <div data-id="{{ c.id }}">
                        {% if c.name %}
                            <h5 class="site-category ">{{ c.name }}</h5>
                            <hr class="site-hr">
                        {% endif %}
                        <div class="site-list">
                            {% for s in ss | sort(attribute="order,create_time") %}
                                <div class="site-item">
                                    <a href="{{ s.url }}" class="site-name" target="_blank"
                                            {% if s.icon %}
                                       style="background-image: url({{ static_url('site/'+ s.icon + '.png') }})"
                                            {% endif %}
                                    >{{ s.name }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div role="feed" class="rss">
            {% for p in pages %}
                <div class="rss-page" data-rss-id="{{ p[4] }}" data-page-id="{{ p[0] }}">
                    <p>
                        <span class="rss-site-name">[{{ p[-1] }}]</span>
                        <a role="link" class="page-link" target="_blank"
                           href="{{ p[2] |truncate(200) }}">{{ p[1] }}</a>
                        &nbsp;&nbsp;<small>{{ p[3] |string| truncate(10, False, '', 0) }}</small>
                    </p>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}

