{% extends "base.html" %}

{% block content %}
    <main>
        <div role="main">
            <div class="container">
                <div class="p-3 text-center">
                    <h1 class="display-3 page-display-title" style="color: #69c0ff">Simple URL Navigation</h1>
                    {% if not request.user %}
                        <small class="text-muted">You can customize it after logging in.</small>
                    {% endif %}
                </div>
                <div class="row p-3 site-list">
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.google.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/u3xxg7fesejpfaia.png') }})">Google</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.bing.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/nau9af7mvdrlomir.png') }})">Bing</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.apple.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/ocr6kqcjvtfmoluh.png') }})">Apple</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.yahoo.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/ll1u8yp4thnm21i8.png') }})">Yahoo</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.aol.com" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/ll1u8yp4thnm21i7.png') }})">AOL</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://twitter.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/y93kbj25n6a0tlew.png') }})">Twitter</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.facebook.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/l58vi9tu9717hro4.png') }})">Facebook</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.amazon.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/2rtv2h42n638j6es.png') }})">Amazon</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.cnn.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/1bv93820ry64bf6x.png') }})">CNN</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://mail.google.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/f99qjei2bs0zq0hm.png') }})">Gmail</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://mail.yahoo.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/r0gaut9u50navci9.png') }})">Yahoo
                            Mail</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://outlook.live.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/9uah8dermz57fuoa.png') }})">Outlook</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://docs.google.com" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/u3xxg7fesejpfaia.png') }})">Google
                            Docs</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.youtube.com" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/w87njg04kk0ippkk.png') }})">YouTube</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.netflix.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/mekpdam2a6v4ug4f.png') }})">Netflix</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.instagram.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/5vmmzgx57ov97uc9.png') }})">Instagram</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.reddit.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/q3k8gi0pv70uw1em.png') }})">reddit</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.wikipedia.org/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/z090dtzdsuc7cg39.png') }})">Wikipedia</a>
                    </div>
                </div>

                <div data-id="1">
                    <div class="row justify-content-between site-header">
                        <div class="col-4 ">
                            <h5 class="sites display-5 site-header-name">News</h5>
                        </div>
                    </div>
                    <hr class="site-hr">
                    <div class="row p-3 site-list">
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://weather.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/g5z6wnzgoq6f2gkq.png') }})">Weather</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.msn.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/hj4xzjhjoyslf8ug.png') }})">MSN</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.economist.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/8ekaswsabqgg56fy.png') }})">The
                                Economist</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.bloomberg.com" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/zce440glc3i2oxt1.png') }})">Bloomberg</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.forbes.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/d4f8xr2s0g3qx59r.png') }})">Forbes</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.nytimes.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/g4w1o8o4jdj4i2mj.png') }})">The
                                NYTimes</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.foxnews.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/het1o4g5my44yumu.png') }})">Fox
                                News</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.washingtonpost.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/k1h2duwcz5bnjb78.png') }});font-size: 93%;">Washington
                                Post</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.espn.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/0ikd5hvkii6qh7y2.png') }})">ESPN</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.engadget.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/os2zn8xjno99ysv9.png') }})">Engadget</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="http://www.vogue.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/frt20jw8zvscys8e.png') }})">VOGUE</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.sportingnews.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/cqr49ec2frxhu1cy.png') }})">Sporting
                                News</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.quora.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/zm72kj1829ok4ctd.png') }})">Quora</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.medium.com" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/i603s0h543p4mwpf.png') }})">Medium</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.blogger.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/u7plafz3pzihx29x.png') }})">Blogger</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="http://www.sohu.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/vgf4hg46lsnjfx6o.png') }})">Sohu</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://weibo.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/ggxjpao0l2i3cu4x.png') }})">Weibo</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.ted.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/ff4c1ft90mqg1gfx.png') }})">TED</a>
                        </div>
                    </div>
                </div>
                <div data-id="1">
                    <div class="row justify-content-between site-header">
                        <div class="col-5 ">
                            <h5 class="sites display-5 site-header-name">Entertainment</h5>
                        </div>
                    </div>
                    <hr class="site-hr">
                    <div class="row p-3 site-list">
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.imdb.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/ryxd7oykd8tz71me.png') }})">IMDb</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.rottentomatoes.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/slhxg21a8rdegkka.png') }});font-size: 93%;">
                                Rotten Tomatoes</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.hulu.com" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/h13wpnnpwydqhegn.png') }})">Hulu</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.twitch.tv/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/ac5svyy8ye9h9zd6.png') }})">Twitch</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.etsy.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/aro5hnarkynqaerd.png') }})">Etsy</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="http://spotify.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/owwh91ih8vg22tv6.png') }})">Spotify</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.snapchat.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/x91g5juh0kgtag9t.png') }})">Snapchat</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.tiktok.com" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/gsd8y4ewwtj7x8rw.png') }})">TIKTOK</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.whatsapp.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/oug9fpheitng0pn4.png') }})">WhatsApp</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.pinterest.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/ls768vax74mdvxgn.png') }})">Pinterest</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.fifa.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/1cek07olxhkoqbjq.png') }})">FIFA</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.mlb.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/ll4ws9k6qiww6rv6outl.png') }})">MLB</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.nfl.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/trxlg1ln18vq4gp8.png') }})">NFL</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.tripadvisor.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/0ar0lke3sgv3p22e.png') }})">Tripadvisor</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.orbitz.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/d5dvrrizk876wufu.png') }})">Orbitz</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.expedia.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/mea1i0ayo89uiu7o.png') }})">Expedia
                                Travel</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.ebaumsworld.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/m6gnw22z87sd2lq9.png') }})">eBaum's
                                world</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://soundcloud.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/tsra60hjbz4cn5mp.png') }})">SoundCloud</a>
                        </div>
                    </div>
                </div>
                <div data-id="1">
                    <div class="row justify-content-between site-header">
                        <div class="col-4 ">
                            <h5 class="sites display-5 site-header-name">Shopping</h5>
                        </div>
                    </div>
                    <hr class="site-hr">
                    <div class="row p-3 site-list">
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.ebay.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/6bl4r97r02dy79vh.png') }})">eBuy</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.tmall.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/hoqja02he360o76m.png') }})">Tmall</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://shopping.yahoo.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/j2d03dxq7ynky7rt.png') }});font-size: 93%;">
                                Yahoo Shopping</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.newegg.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/86yx235h0ag7kalk.png') }})">Newegg</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.bestbuy.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/n77xp5nkw98nfqtv.png') }})">Best
                                Buy</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.walmart.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/wgp5esqe2z14r4d8.png') }})">Walmart</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.alibaba.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/edccsi03s8sltis1.png') }})">Alibaba</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.macys.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/bt21e55ywrl6biby.png') }})">Macy's</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.yelp.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/zt972jvdp1ahznuo.png') }})">Yelp</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.groupon.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/i0gamwbufhoou6sg.png') }})">Groupon</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.airbnb.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/xul8uyzlbwi23csl.png') }})">Airbnb</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.smarter.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/cejad0r24hxg20gr.png') }})">Smarter</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.aa.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/sihlhezfn68b17h1.png') }});font-size: 90%;">
                                American Airlines</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.costco.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/q9jhs1q3fx8kmm8d.png') }})">COSTCO</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.ticketmaster.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/9ajsn8czvkrpc2gn.png') }})">Ticketmaster</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.gilt.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/hbjikfpwtrvw3to4.png') }})">Gilt</a>
                        </div>
                        {#                        <div class="col-4 col-lg-2 site-item ">#}
                        {#                            <a href="https://www.italist.com" class="site-name" target="_blank"#}
                        {#                               style="background-image: url({{ static_url('site/83xvhuxm5l7tra8f.png') }})">Shop#}
                        {#                                Italist</a>#}
                        {#                        </div>#}
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.yoox.com/ph" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/quijuv67xzwtaj5x.png') }})">YOOX</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.sears.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/h2kfjm5vb9zngs38.png') }})">Sears</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.fila.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/s6bl4jvvyalq6lhf.png') }})">FILA</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.nike.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/e7uulroq64dmi9x6.png') }})">Nike</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.adidas.com/us" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/uzauxd6ivs61wf7o.png') }})">adidas</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://us.puma.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/1zwg7k42uik41yem.png') }})">PUMA</a>
                        </div>

                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.gap.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/yktakvy0pap9crd4.png') }})">GAP</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.uniqlo.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/c0rtzytyaupgb60c.png') }})">UNIQUL</a>
                        </div>
                    </div>
                </div>
                <div data-id="1">
                    <div class="row justify-content-between site-header">
                        <div class="col-4 ">
                            <h5 class="sites display-5 site-header-name">Money</h5>
                        </div>
                    </div>
                    <hr class="site-hr">
                    <div class="row p-3 site-list">
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.irs.gov/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/lrgqrp9hvhiqov8u.png') }})">IRS</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.creditkarma.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/ldwjzlangwhnvvyl.png') }})">Credit
                                Karma</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.paypal.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/3hsrt5y9c0soqwyz.png') }})">PayPal</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://pay.google.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/u3xxg7fesejpfaia.png') }})">Google
                                Pay</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.mint.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/doxfgk0ycuj29yp5.png') }})">Mint</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.chase.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/gbwu9ruho09nb2ql.png') }})">Chase</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.wellsfargo.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/tiz65cr7hea7zjj5.png') }})">Wells
                                Fargo</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.bankofamerica.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/luw5dg55xw5342m5.png') }});font-size: 93%">Bank
                                of America</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.capitalone.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/hf8efi7boogom9kk.png') }})">Capital
                                One</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.usbank.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/d3xr4nkvmlg49plh.png') }})">U.S.
                                Bank</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://online.citi.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/smbavr0uhbcqeds3.png') }})">Citi
                                Bank</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.usaa.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/rfkyeucrf370ta5i.png') }})">USAA</a>
                        </div>
                    </div>
                </div>
                <div data-id="1">
                    <div class="row justify-content-between site-header">
                        <div class="col-4 ">
                            <h5 class="sites display-5 site-header-name">Office</h5>
                        </div>
                    </div>
                    <hr class="site-hr">
                    <div class="row p-3 site-list">
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.dropbox.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/hn3c740e8kd5dx8n.png') }})">Dropbox</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://drive.google.com" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/lvoypfmadikhok50.png') }})">
                                Google Drive</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://calendar.google.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/u3xxg7fesejpfaia.png') }});font-size: 93%">
                                Google Calendar</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://slack.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/p3iqk7nvf706mj4a.png') }})">Slack</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://quip.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/4b8dcu5c220umry9.png') }})">Quip</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://zoom.com" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/ydz9z46fums18bk6.png') }})">Zoom</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.skype.com" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/uxoxtbbfpmdfkiz1.png') }})">Skype</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.larksuite.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/hptpi7xymm2wuobi.png') }})">Lark</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://evernote.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/261vjl4g0xkgjauf.png') }})">Evernote</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.teambition.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/u4rvg0mjuw1wkm2m.png') }})">Teambition</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://trello.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/1nti3iv640oimwcy.png') }})">Trello</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.slideshare.net/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/m1tiqh8siwwpnlkd.png') }})">SlideShare</a>
                        </div>
                    </div>
                </div>
                <div data-id="1">
                    <div class="row justify-content-between site-header">
                        <div class="col-4 ">
                            <h5 class="sites display-5 site-header-name">Tools</h5>
                        </div>
                    </div>
                    <hr class="site-hr">
                    <div class="row p-3 site-list">
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://duckduckgo.com" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/pxygeqswwdxkvikv.png') }})">DuckDuckGo</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.linkedin.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/m1tiqh8siwwpnlkd.png') }})">LinkedIn</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.indeed.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/2hhk2v4uiugmixbe.png') }})">Indeed</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.wechat.com/en/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/32tegt5fc3uekvre.png') }})">WeChat</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="http://buzzfeed.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/v4e4xbydkeqv529b.png') }})">BuzzFeed</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.ask.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/gsc7xm7kzsags2vj.png') }})">Ask</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.adobe.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/otvi4yusrbtsmb8a.png') }})">Adobe</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://imgur.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/8qxb01ynarmtm90k.png') }})">Imgur</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.shutterstock.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/m70lp4rxkbkbc8ls.png') }})">Shutterstock</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.ups.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/gdb3vr78n88pzjux.png') }})">UPS</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.fedex.com" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/1efwspkcpeuoqmjx.png') }})">FedEx</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.xe.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/vj6fpfsb76w7h3ah.png') }})">XE</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://feedly.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/114zd8jeqgta6pv9.png') }})">Feedly</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://booking.com" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/5eafo3tusqacf8hn.png') }})">Booking</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://github.com" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/xd22bo52y59b4xfe.png') }})">GitHub</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.stackoverflow.com" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/hfoam207o6d7noqn.png') }})">
                                Stack Overflow</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.marvel.com/" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/68yv1116mtqq0qs1.png') }})">Marvel</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://store.steampowered.com" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/lg37ez4588651kaq.png') }})">Steam</a>
                        </div>
                        <div class="col-4 col-lg-2 site-item ">
                            <a href="https://www.blizzard.com" class="site-name" target="_blank"
                               style="background-image: url({{ static_url('site/rcsyqnigx6uu3f7u.png') }})">Blizzard</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div role="feed" class="rss">
            <div class="container">
                <hr class="rss-hr">

                <div class="row">

                    {% for p in pages %}
                        <div class=" col-sm-12 col-lg-12 rss-item" data-rss-id="{{ p[4] }}" data-page-id="{{ p[0] }}">
                            <p>
                                <a class="rss-site-name">[{{ p[-1] }}]</a>
                                <a role="link" class="rss-page-link" target="_blank"
                                   href="{{ p[2] |truncate(200) }}">{{ p[1] }} &nbsp;</a>

                                <small class="text-muted">{{ p[3] |string| truncate(10, False, '', 0) }}</small>
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

