{% extends "base.html" %}


{% block content %}
    <div>
        <main role="main">
            <div class="container">

                <div class="p-3 text-center">
                    <h1 class="display-3" style="color: #69c0ff">
                        {% if locale == 'zh' %}
                            简单网址导航
                        {% else %}
                            Simple URL Navigation
                        {% endif %}
                    </h1>
                </div>
                {% for c in categories | sort(attribute="order") %}
                    <div data-id="{{ c.id }}">
                        <div class="row justify-content-between site-header">
                            <div class="col-8 ">
                                {% if c.name %}
                                    <h5 class="sites display-5 site-header-name ">{{ c.name }}</h5>
                                {% endif %}
                            </div>
                            <div class="col-4 ">
                                <div class="dropdown">
                                    <div class="add-site site-header-add "
                                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <svg height="32" class="octicon octicon-plus-small" viewBox="0 0 7 16"
                                             version="1.1" width="14" aria-hidden="true">
                                            <path fill-rule="evenodd" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                                        </svg>
                                    </div>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-add-website"
                                         aria-labelledby="dLabel">
                                        <form action="/user/{{ request.user.u_id }}/website" method="post">
                                            <input name="cate_id" value="{{ c.id }}" type="hidden">
                                            <div class="row">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-4">
                                                    <button type="submit"
                                                            class="btn submit-dropdown-add-website btn-outline-primary btn-sm">
                                                        save
                                                    </button>
                                                </div>
                                                <div class="col-sm-4">
                                                    <button type="reset" data-dismiss="modal"
                                                            class="btn btn-outline-primary close-dropdown-add-website btn-sm">
                                                        close
                                                    </button>
                                                </div>
                                                <div class="col-sm-2"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if c.name %}
                            <hr class="site-hr">
                        {% endif %}
                        <div class="row p-3 mb-5 bg-white rounded site-list">
                            {% set ss = sites.get(c.id) %}
                            {% if ss %}
                                {% for s in ss | sort(attribute="order,create_time") %}
                                    <div class="col-4 col-lg-2 site-item ">
                                        <a href="{{ s.url }}" class="site-name" target="_blank"
                                                {% if s.icon %}
                                           style="background-image: url({{ static_url('site/'+ s.icon + '.png') }})"
                                                {% endif %}
                                        >{{ s.name }}</a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </main>
        <div role="feed" class="rss">
            <div class="container">
                <hr class="rss-hr">

                <div class="row">

                    {% for p in pages %}
                        <div class=" col-sm-12 col-lg-12 rss-item" data-rss-id="{{ p[4] }}" data-page-id="{{ p[0] }}">
                            <p>
                                <a class="rss-site-name">[{{ p[-1] }}]</a>
                                <a role="link" class="rss-page-link" target="_blank"
                                   href="{{ p[2] |truncate(200) }}">{{ p[1] }} &nbsp;</a>

                                <small class="text-muted">{{ p[3] |string| truncate(10, False, '', 0) }}</small>
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="context-menu" hidden>

    </div>
{% endblock %}

