{% extends "base.html" %}

{% block content %}
<main>
    <div role="main">
        <div class="container">
            <div class="p-3 text-center">
                <h1 class="display-3 page-display-title" style="color: #69c0ff">简单网址导航</h1>
                {% if not request.user %}
                <small class="text-muted">登录之后可以自定义哦</small>
                {% endif %}
            </div>
            <div class="row p-3 site-list">

                <div class="col-4 col-lg-2 site-item ">
                    <a href="http://www.people.com.cn/" class="site-name" target="_blank"
                       style="background-image: url({{ static_url('site/rsr2zzf4sa50959k.png') }})">人民网</a>
                </div>
                <div class="col-4 col-lg-2 site-item ">
                    <a href="http://www.xinhuanet.com/" class="site-name" target="_blank"
                       style="background-image: url({{ static_url('site/2kvg90ne0j8t26ko.png') }})">新华网</a>
                </div>
                <div class="col-4 col-lg-2 site-item ">
                    <a href="https://weibo.com" class="site-name" target="_blank"
                       style="background-image: url({{ static_url('site/scl6kbkyo405jxqb.png') }})">微 博</a>
                </div>
                <div class="col-4 col-lg-2 site-item ">
                    <a href="https://www.zhihu.com/" class="site-name" target="_blank"
                       style="background-image: url({{ static_url('site/10rt19kakhh60wto.png') }})">知 乎</a>
                </div>
                <div class="col-4 col-lg-2 site-item ">
                    <a href="https://www.douban.com" class="site-name" target="_blank"
                       style="background-image: url({{ static_url('site/kyzifys3p8u67sht.png') }})">豆 瓣</a>
                </div>
                <div class="col-4 col-lg-2 site-item ">
                    <a href="https://www.qq.com" class="site-name" target="_blank"
                       style="background-image: url({{ static_url('site/nee4zinmgz8myjwf.png') }})">腾 讯</a>
                </div>
                <div class="col-4 col-lg-2 site-item ">
                    <a href="http://www.sina.com.cn/" class="site-name" target="_blank"
                       style="background-image: url({{ static_url('site/4c4ravvj6a3iu7rg.png') }})">新 浪</a>
                </div>
                <div class="col-4 col-lg-2 site-item ">
                    <a href="https://www.taobao.com/" class="site-name" target="_blank"
                       style="background-image: url({{ static_url('site/z6v3gquadvakj7om.png') }})">淘 宝</a></div>
                <div class="col-4 col-lg-2 site-item ">
                    <a href="https://www.jd.com/" class="site-name" target="_blank"
                       style="background-image: url({{ static_url('site/0j0r2ngde6kxhs48.png') }})">京 东</a>
                </div>
                <div class="col-4 col-lg-2 site-item ">
                    <a href="https://v.qq.com" class="site-name" target="_blank"
                       style="background-image: url({{ static_url('site/wl9emokg5fh6jsr7.png') }})">腾讯视频</a>
                </div>
                <div class="col-4 col-lg-2 site-item ">
                    <a href="https://youku.com/" class="site-name" target="_blank"
                       style="background-image: url({{ static_url('site/3rrbd51lcc23nriw.png') }})">优&nbsp酷</a>
                </div>
                <div class="col-4 col-lg-2 site-item ">
                    <a href="https://iqiyi.com" class="site-name" target="_blank"
                       style="background-image: url({{ static_url('site/l1ezwt2qq3g0p169.png') }})">爱奇艺</a>
                </div>
            </div>
            <div>
                <div class="row justify-content-between site-header">
                    <div class="col-8 ">
                        <h5 class="sites display-5 site-header-name ">购物娱乐</h5>
                    </div>
                </div>
                <hr class="site-hr">
                <div class="row p-3 site-list">
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="http://www.jumei.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/lvvu1bvj5jp3k99z.png') }})">聚美优品</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.vip.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/bio899x89bfhfaqo.png') }})">唯品会</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.tmall.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/6mymmrotcm64olbg.png') }})">天猫商城</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="http://you.163.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/sep507vym8sfztnq.png') }})">网易严选</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.smzdm.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/0utngcb8zrykrjwr.png') }})">什么值得买</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.apple.com.cn/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/om5792bh8y2bj0fm.png') }})">苹果官网</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.cctv.com" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/99ym23uboeptsmv9.png') }})">CCTV</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.mgtv.com" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/2ym3k4w9pi4j1mec.png') }})">芒果TV</a></div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.bilibili.com" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/ckz50exq2nta8sso.png') }})">哔哩哔哩</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.douyu.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/2ujayxoq95qzjvhg.png') }})">斗 鱼</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.huya.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/kdjqjjbfb5g3vyqk.png') }})">虎 牙</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://y.qq.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/sonz1hhzb444lc9v.png') }})">QQ 音乐</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="http://music.163.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/rs4fx10z30lkxv4b.png') }})">网易音乐</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.ximalaya.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/o39w0d40pcnfat5b.png') }})">喜马拉雅</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.qingting.fm/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/9w5fagypf21cmtud.png') }})">蜻蜓 FM</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://game.qq.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/dfpq6pu2cl4j0u7l.png') }})">腾讯游戏</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="http://game.163.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/mkybpad5t6y675km.png') }})">网易游戏</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://store.steampowered.com" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/5xgk8brj6pg7iozy.png') }})">Steam</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.fliggy.com" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/uaicxk32zjplnlry.png') }})">飞猪旅行</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.ctrip.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/uprloy4dvd8d3kok.png') }})">携程旅行</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.qunar.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/ks6q6g5vnw09rwt7.png') }})">去哪儿</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.airbnb.cn" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/848uievbqkc22tuu.png') }})">爱彼迎</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.booking.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/1q1ksptfnri2qa8m.png') }})">缤客</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="http://www.mafengwo.cn/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/t57i0j4h5m0ywp4p.png') }})">马蜂窝</a>
                    </div>

                </div>
            </div>
            <div>
                <div class="row justify-content-between site-header">
                    <div class="col-8 ">
                        <h5 class="sites display-5 site-header-name">阅读学习</h5>
                    </div>
                </div>
                <hr class="site-hr">
                <div class="row p-3 site-list">


                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://read.douban.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/b5ifxnjyn2duwk8e.png') }})">豆瓣阅读</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="http://www.duokan.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/xder4bff124w2z6q.png') }})">多看阅读</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://36kr.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/9iqbk1j2gvgskz4m.png') }})">36 氪</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.huxiu.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/u988ryunzdzd1p6l.png') }})">虎 嗅</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.qidian.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/659fbsc4ighro0oh.png') }})">起点中文网</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="http://www.jjwxc.net/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/lzd2nsxnuw5y6a9v.png') }})">晋江文学城</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="http://www.zongheng.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/qeq8ecgmv20lol74.png') }})">纵横中文网</a>
                    </div>

                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.icourse163.org/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/4odepbg4bdpv0cdj.png') }})">中国大学MOOC</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.cnmooc.org/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/xqwaan03cl5aq8of.png') }})">好大学在线</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://open.163.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/uiu9cdab056myeom.png') }})">网易公开课</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://new.shuge.org/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/jvxf2qytlz28m6xr.png') }})">书 格</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.imooc.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/2ynv4jaapwgaekqn.png') }})">慕课网</a>
                    </div>

                </div>
            </div>
            <div>
                <div class="row justify-content-between site-header">
                    <div class="col-8 ">
                        <h5 class="sites display-5 site-header-name">常用工具</h5>
                    </div>
                </div>
                <hr class="site-hr">
                <div class="row p-3 site-list">

                    <div class="col-4 col-lg-2 site-item ">
                        <a href="http://www.cac.gov.cn/dhgc/A0915index_1.htm" class="site-name"
                           target="_blank"
                           style="background-image: url({{ static_url('site/w4ex5g2astad61ox.png') }})">导航广场</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.rili.com.cn/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/f1ie4on7zx72cb15.png') }})">日历网</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="http://www.weather.com.cn/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/nm499yb81ltagfce.png') }})">中国天气网</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.kuaidi100.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/kqhmz0lltsov4sq2.png') }})">快递 100</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.wenjuan.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/syfcf21tpeqlfo49.png') }})">问卷网</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.amap.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/cxql7sxknesecymo.png') }})">高德地图</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.meituan.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/i5o3x0cvomylzu1d.png') }})">美 团</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.guahao.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/34uclerwi0nct5gg.png') }})">微 医</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.haodf.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/745cu1su4mqf6crb.png') }})">好大夫在线</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.58.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/ur9rqg702o3hev65.png') }})">58 同城</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.baixing.com" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/0ws5pyw2pc0ui6af.png') }})">百姓网</a>
                    </div>
                    <div class="col-4 col-lg-2 site-item ">
                        <a href="https://www.jiayuan.com/" class="site-name" target="_blank"
                           style="background-image: url({{ static_url('site/zlc4zpe5v3wmu1t1.png') }})">世纪佳缘</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div role="feed" class="rss">
        <div class="container">
            <hr class="rss-hr">
            <div class="row">
                {% for p in pages %}
                <div class=" col-sm-12 col-lg-12 rss-item" data-rss-id="{{ p[4] }}" data-page-id="{{ p[0] }}">
                    <p>
                        <a class="rss-site-name">[{{ p[-1] }}]</a>
                        <a role="link" class="rss-page-link" target="_blank"
                           href="{{ p[2] |truncate(200) }}">{{ p[1] }} &nbsp;</a>

                        <small class="text-muted">{{ p[3] |string| truncate(10, False, '', 0) }}</small>
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}

