{% extends "base.html" %}


{% block content %}
    <div class="container">
        <div class="row flex-xl-nowrap">
            <nav role="navigation" class="nav-sidebar col-md-2 col-xl-3">
                <ul class="nav-ul">
                    <li class="{% if page=='info' %}active{% endif %}">
                        <a href="/user/{{ request.user.u_id }}">{{ _('personal_info') }}</a>
                    </li>
                    <li class="{% if page=='category' %}active{% endif %}">
                        <a href="/user/{{ request.user.u_id }}/category">{{ _('category') }}</a>
                    </li>
                    <li class="{% if page=='website' %}active{% endif %}">
                        <a href="/user/{{ request.user.u_id }}/website">{{ _('Web_site') }}</a>
                    </li>
                    <li class="{% if page=='rss' %}active{% endif %}">
                        <a href="/user/{{ request.user.u_id }}/rss">{{ _('rss_feed') }}</a>
                    </li>
                </ul>

            </nav>
            <main role="main" class="col-md-9 col-xl-8 bd-content">
                {% if page == 'info' %}
                    {% set user = request.user %}
                    <div class="form-container" id="main-user">
                        <form action="#">
                            <div class="form-group row">
                                <label for="avatar_url" class="col-sm-3 col-form-label">{{ _('avatar') }}</label>
                                <div class="col-sm-9">
                                    <img width="100px" height="100px" alt="{{ user.name }}"
                                         src="{{ user.avatar_url }}"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="u_id" class="col-sm-3 col-form-label">ID</label>
                                <div class="col-sm-9">
                                    <input readonly id="u_id" class="form-control-plaintext"
                                           value="{{ user.u_id }}" name="u_id">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-sm-3 col-form-label">{{ _('name') }}</label>
                                <div class="col-sm-9">
                                    <input readonly id="name" class="form-control-plaintext"
                                           value="{{ user.name }}" name="name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="source" class="col-sm-3 col-form-label">{{ _('login_paltform') }}</label>
                                <div class="col-sm-9">
                                    <input readonly id="source" class="form-control-plaintext"
                                           value="{{ [0, 'GitHub', '微博', 'Google'][user.source] }}" name="source">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="register-date" class="col-sm-3 col-form-label">
                                    {{ _('register_date') }}
                                </label>
                                <div class="col-sm-9">
                                    <input readonly id="register-date" class="form-control-plaintext"
                                           value="{{ user.create_time| string |truncate(10, False, end='') }}"
                                           name="register-date">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label"></label>
                                <a href="/">
                                    <button type="button" role="button"
                                            class="btn btn-outline-primary">{{ _('backhome') }}</button>
                                </a>
                            </div>
                        </form>
                    </div>
                {% elif page == 'category' %}
                    <div class="form-container" id="main-category">
                        <div class="row justify-content-end">
                            <div class="col-2">
                                <button type="button" class="btn btn-outline-primary  btn-sm"
                                        id="btn-add-cate">{{ _('add') }}</button>
                            </div>
                        </div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col" class="cate-num">#</th>
                                <th scope="col">{{ _('category') }}</th>
                                <th scope="col" class="large-order-cel">{{ _('serial_num') }}</th>
                                <th scope="col" class="cate-action">{{ _('action') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for c in categories | sort(attribute="order") %}
                                <tr data-id="{{ c.id }}">
                                    <th scope="row">{{ loop.index }}</th>
                                    <td>{{ c.name }}</td>
                                    <td>{{ c.order }}</td>
                                    <td>
                                        <button type="button" class="btn btn-link action-btn delete-cate ">
                                            {{ _('delete') }}
                                        </button>
                                        /
                                        <button type="button" class="btn btn-link action-btn  update-cate">
                                            {{ _('update') }}
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <small class="small">
                            1. 序号 1 ～ 1000 之间，按照从小到大排列；
                        </small><br/>
                        <small class="small">
                            2. 一次只能添加一条数据；
                        </small><br/>
                        <small class="small">
                            3. 删除分类，则分类下的网址都会被隐藏。
                        </small>
                        <br/>
                        <div class="button-group">

                            <a href="/">
                                <button type="button" role="button"
                                        class="btn btn-outline-primary">{{ _('backhome') }}</button>
                            </a>

                        </div>
                    </div>

                {% elif page == 'website' %}
                    <div class="form-container" id="main-website">
                        {% if categories %}
                            {% for c in categories | sort(attribute="order") %}
                                <div class="site-list" data-id="{{ c.id }}">
                                    <div class="row justify-content-between">
                                        <div class="col-2">
                                            <span class="site-category-name">{{ c.name }}</span>
                                        </div>
                                        <div class="col-2">
                                            <button type="button"
                                                    class="btn btn-outline-primary  btn-sm add-new-website">
                                                {{ _('add') }}
                                            </button>
                                        </div>
                                    </div>
                                    {% set ss = sites.get(c.id) %}
                                    <table class="site-table table table-striped">
                                        {#                                        <caption>List of websites</caption>#}
                                        <thead>
                                        <tr>
                                            <th scope="col" class="site-num">#</th>
                                            <th scope="col" class="site-name">{{ _('name') }}</th>
                                            <th scope="col" class="site-url">{{ _('url') }}</th>
                                            <th scope="col" class="site-order">{{ _('serial_num') }}</th>
                                            <th scope="col" class="site-action">{{ _('action') }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if ss %}
                                            {% for s in ss | sort(attribute="order") %}
                                                <tr data-id="{{ s.id }}" class="site-site">
                                                    <th scope="row" class="site-num">
                                                        {{ loop.index }}
                                                    </th>
                                                    <td class="site-name">
                                                        {{ s.name }}
                                                    </td>
                                                    <td class="site-url">
                                                        <a href="{{ s.url }}">
                                                            {{ s.url |truncate(40) }}
                                                        </a>
                                                    </td>
                                                    <td class="site-order">{{ s.order }}</td>
                                                    <td class="site-action">
                                                        <span class="delete-site delete-btn">{{ _('delete') }}</span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="button-group">
                            <a href="/">
                                <button type="button" role="button" class="btn btn-outline-primary">
                                    {{ _('backhome') }}
                                </button>
                            </a>
                        </div>
                    </div>
                {% elif page == 'rss' %}
                    <div class="form-container" id="main-rss">
                        <div class="row justify-content-end">
                            <div class="col-2">
                                <button type="button" class="btn btn-outline-primary  btn-sm"
                                        id="btn-add-rss">{{ _('add') }}</button>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col" class="site-num">#</th>
                                <th scope="col">{{ _('name') }}</th>
                                <th scope="col">{{ _('url') }}</th>
                                <th scope="col">{{ _('action') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for s in user_rss %}
                                <tr data-id="{{ s[0] }}">
                                    <th scope="row" class="site-num">
                                        {{ loop.index }}
                                    </th>
                                    <td>
                                        {{ s[1] | truncate(20) }}
                                    </td>
                                    <td class="rss-url">
                                        <a href="{{ s[2] }}">
                                            {{ s[2] |truncate(50) }}
                                        </a>
                                    </td>
                                    <td>
                                        <span class="delete-rss delete-btn">{{ _('delete') }}</span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="button-group">
                            <a href="/">
                                <button type="button" role="button" class="btn btn-outline-primary">
                                    {{ _('backhome') }}
                                </button>
                            </a>
                        </div>
                        {#                            <button type="button" class="btn btn-light" id="btn-add-rss">{{ _('add') }}</button>#}
                    </div>

                {% endif %}
            </main>
        </div>
    </div>
{% endblock %}

{% block script %}
    {% if page == 'category' %}
        <script src="{{ static_url('js/user_category.js') }}"></script>
    {% elif page == 'website' %}
        <script src="{{ static_url('js/user_website.js') }}"></script>
    {% elif page == 'rss' %}
        <script src="{{ static_url('js/user_rss.js') }}"></script>

    {% endif %}
{% endblock %}
